<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMS</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/docs.min.css">

</head>
<body>
<div class="container bs-docs-container">
    <div class="page-header" id="top">
            <div class="row">
                <div class="col-xs-8">
                    <h1>Example page header or logo
                        <small>Subtext for header</small>
                    </h1>
                </div>
                <div class="col-xs-4"><h1>SYSULOGO</h1></div>
            </div>
    </div>
    {% block content %}
    {% endblock %}

</div>
</body>
</html>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/docs.min.js"></script>