{% extends "base.html" %}
{% block content %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="/">About</a></li>
        <li role="presentation"><a href="/people/">People</a></li>
        <li role="presentation"><a href="/publication/" role="tab">Publication</a></li>
        <li role="presentation"><a href="#messages" role="tab">Patent</a></li>
        <li role="presentation"><a href="#settings">Resources</a></li>
        <li role="presentation"><a href="/blog/">Blog</a></li>
        <li role="presentation"><a href="#settings">Ask</a></li>
    </ul>
    <div class="col-md-9" role="main">
    </div>
{% endblock %}
