{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block content %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"><a href="/">About</a></li>
        <li role="presentation" class="active"><a href="/people/">People</a></li>
        <li role="presentation"><a href="/publication/" role="tab">Publication</a></li>
        <li role="presentation"><a href="/patent/" role="tab">Patent</a></li>
        <li role="presentation"><a href="/resource/">Resources</a></li>
        <li role="presentation"><a href="/blog/">Blog</a></li>
        <li role="presentation"><a href="/ask/">Ask</a></li>
    </ul>
    <div class="row">
        <div class="col-md-3">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
                <ul class="nav bs-docs-sidenav">
                    <li>
                        <a href="#researchInterest" style="font-size:120%">Research Interest</a>
                    </li>
                    <li>
                        <a href="#bio" style="font-size:120%">Bio</a>
                    </li>
                    <li>
                        <a href="#publications" style="font-size:120%">Publications</a>
                    </li>
                    <li>
                        <a href="#courses" style="font-size:120%">Courses</a>
                    </li>
                </ul>
                <a class="back-to-top" href="#top">
                    Back to Top
                </a>
            </nav>
        </div>
        <div class="col-md-9" role="main">
            <div class="row">
                <div class="col-xs-7">
                    <header class="post-header" style="margin-top: 90px;">
                        <h2 class="post-title page-header">{{ staff.name }}</h2>
                    </header>
                </div>
                <div class="col-xs-2">
                    <img src="{{ staff.img.url }}"
                         style="width:220px; height:220px; margin-top:20px; margin-left:40px;">
                </div>
            </div>
            <h2 id="researchInterest" class="page-header">
                Research Interest
            </h2>
            <div class="post-description">
                <p>
                    {{ staff.researchInterest|markdown:'recipe' }}
                </p>
            </div>
            <h2 id="Bio" class="page-header">
                Bio
            </h2>
            <div class="post-description">
                <p>
                    {{ staff.bio|markdown:'recipe' }}
                </p>
            </div>
            <h2 id="publications" class="page-header">
                Publications
            </h2>
            <div class="post-description">
                <p>
                    {{ staff.publications|markdown:'recipe' }}
                </p>
            </div>
            <h2 id="courses" class="page-header">
                Courses
            </h2>
            <div class="post-description">
                <p>
                    {{ staff.courses|markdown:'recipe' }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
